.salesBanners-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.salesBanners-container  h2{
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  margin-top: 50px;
  letter-spacing: 1.5px;
  color: var(--text-secondary);
}

.sale-fathers {
  display: flex;
  width: 1150px;
  justify-content: space-between;
  margin-top: 20px;
}

.banner-father-sales {
  height: 165px;
}

.sale-flamengo {
  margin-top: 30px;
  margin-bottom: 100px;
}

.banner-flamengo {
  height: 165px;
}
