.center-header {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 1200px;
  width: auto;
  padding-left: 20rem;
}

.logo-meli {
  height: 2.2rem;;
}

.all-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.top-header {
}

.bottom-header {
}
