.all-header {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-top: 10px;
}

.search-bar {
  display: flex;
  margin-bottom: 10px;
}

.logo-meli {
  height: 2.4rem;
  cursor: pointer;
}

.search-form{
  display: flex;
  flex-direction: column;
  padding: 8px 1px;
  overflow: auto;
  height: 56px;
  position: relative;
  z-index: 910;
  will-change: left;
  transition: left .15s ease-out;
}

.search-input {
  width: 550px;
  height: 39px;
  padding: 7px 60px 9px 15px;
  margin-left: 50px;
  border-radius: 2px;
  font-size: 16px;
  border: none;
  position: relative;
  background-color: #fff;
  color: var(--text-secondary);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.search-input::placeholder {
  color: var(--text-secondary);
  opacity: 0.3;
}

.search-input:focus{
  outline: none;
}

.search-btn{
  left: auto;
  background-image: none;
  height: 39px;
  padding-top: 2px;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  width: 46px;
  z-index: 920;
  position: absolute;
  border: none;
  box-shadow: 0px 0px 1px 0px var(--text-secondary);
  background-color: #fff;
}

.search-icon{
  font-size: 20px;
  color: var(--text-secondary);
  opacity: 0.6;
}

.menu {
  margin-left: 160px;
  color: var(--text-secondary);
  font-weight: 200;
}

.menu-list {
  display: flex;
}

.menu-list li{
  font-size: 14px;
  cursor: pointer;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-inline: 10px;
  font-weight: 100;
  color: var(--text-secondary);
}

.menu-list li:hover{
  color: var(--text-primary);
  font-weight: 300;
}

.address-container {
  display: flex;
  width: auto;
  cursor: pointer;
  line-height: 14px;
  /* position: absolute; */
  padding: 2px;
  margin-top: 5px 0;
  transition:all 0.3s ease-in-out;
}

.address-container::after {
  content: '';
  width: calc(12% - 2px);
  height: calc(90% - 2px);
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.address-container:hover::after {
  display: block;
  /* border-radius: 3px;
  border: solid 1px var(--text-secondary);
  animation-delay: 0.5s; */
}

.address {
  color: var(--text-secondary);
}

.localization-icon {
  font-weight: 100;
  color: var(--text-secondary);
  font-size: 22px;
}

.address span{
  font-size: 12px;
  font-weight: 100;
}

.address p{
  font-size: 14px;
  font-weight: 400;
}

.account {
  display: flex;
}

.account a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 200;
}

.logo-disney {
  width: 360px;
  margin-left: 120px;
  cursor: pointer;
}

